@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSansJP-Light.otf");
  font-weight: light;
  font-style: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NotoSans";
  font-style: normal;
}
.btn-primary {
  padding: 10px 20px;
  border: 0px solid transparent;
  background: linear-gradient(to right, rgba(191, 105, 157, 62%), #523b6a);
  color: white;
  font-size: 24px;
}

.btn-primary-logic {
  background: linear-gradient(to right, rgba(191, 105, 157, 62%), #523b6a);
  color: white;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav {
  z-index: 1001;
  transition: ease-in-out 0.3s;
}
.nav.active {
  background: white;
  transition: ease-in-out 0.3s;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem 2rem;
  transform: translate(-30%, 20%);
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.auth-input {
  border: solid black 1px;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
}
.hidden-mobile {
  display: none;
}
.button {
  width: 300px;
}
.login-bg {
  background-image: url("../assets/login/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.signup-bg {
  background-image: url("../assets/signup/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.education-bg {
  background-image: url("../assets/education/main.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.education-bg-2 {
  background-image: url("../assets/education/bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.signform-inp {
  width: 300px;
}
.bg-ed-3 {
  background-color: #f4e4f0;
}
.ed-exp-text {
  font-size: 128px;
}

.procedure-img {
  width: 400px;
}
.procedure-description {
  width: 500px;
}
.procedure-width {
  width: 1000px;
}
.procedure-table td {
  padding-top: 15px;
}
.procedure-table th {
  padding-bottom: 15px;
}
.procedure-mobile-table {
  display: none;
}
.procedure-mobile-table tr {
  border-bottom: 1px solid black;
}
.product-table {
}
.product-table tr {
  padding: 15px 0;
  border-top: 1px solid black;
}
.sign-form-width {
  width: 500px;
}
.shop-filter-active {
  color: white;
  background-color: #101010;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 15px;
}
.orders-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}
.basket-table-th {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 1fr 1fr;
}
.basket-table-tr {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 1fr 1fr;
  align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.shop-left-filter {
  width: 200px;
}
.shop-right-filter {
  width: 120px;
}
.showDescription-enter {
  opacity: 0;
  transform: scale(0.9);
}
.showDescription-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.showDescription-exit {
  opacity: 1;
}
.showDescription-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.error-title {
  font-size: 200px;
}
.shop-filter-width {
  width: 180px;
}
.home-main-image {
  width: 600px;
}
.first-blog-width {
  width: 600px;
}
.blog-post-absolute {
  position: absolute;
  top: 90%;
}

@media only screen and (max-width: 1535px) {
  .home-main-image {
    width: 500px;
  }
  .first-blog-width {
    width: 450px;
  }
}

@media only screen and (max-width: 1279px) {
  .shop-products-width {
    width: 700px;
  }
  .nav-link {
    margin: 0 10px;
  }
  .procedure-width {
    width: 800px;
  }
  .sign-form-width {
    width: 380px;
  }
  .blog-image {
    width: 400px;
  }
}
@media only screen and (max-width: 1023px) {
  .blogposts-width {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .procedure-width {
    width: 600px;
  }

  .home-main-image {
    width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .shop-products-width {
    width: 400px;
  }
  .sm-grid-cols-1 {
    grid-template-columns: 1fr;
  }
  .first-blog-width {
    width: 300px;
  }
  .home-main-image {
    width: 320px;
  }
  .shop-grid {
    grid-template-columns: 1fr;
  }
  .product-similar {
    grid-template-columns: 1fr;
  }
  .error-title {
    font-size: 100px;
  }
  .sign-form-width {
    width: 320px;
  }
  .procedure-mobile-table {
    display: inline-block;
  }
  .procedure-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .product-width img {
    width: 300px;
  }
  .procedure-img {
    width: 300px;
  }
  .procedure-description {
    width: 400px;
  }
  .procedure-width {
    width: 400px;
  }

  .hidden-mobile {
    display: inline-block;
  }
  .dropdown {
    transform: translate(-25%, 0%);
  }

  .dc1 {
    position: absolute;
    left: 20%;
  }
  .dc2 {
    position: absolute;
    left: 0%;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4em;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 50px 0;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu {
    top: 3em;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .home {
    padding-top: 50px;
  }
  .procedure-description {
    width: 300px;
  }
  .procedure-width {
    width: 300px;
  }
  .shop-grid {
    grid-template-columns: 1fr;
  }
  .shop-products-width {
    width: 300px;
  }
}
@media only screen and (max-width: 350px) {
  .contacts-px {
    padding: 0 0;
  }
}

.text-stroke {
  -webkit-text-stroke: 0.3px #101010;
}
