@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSansJP-Light.otf");
  font-weight: light;
  font-style: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NotoSans";
  font-style: normal;
}
.btn-primary {
  padding: 10px 20px;
  border: 0px solid transparent;
  background: linear-gradient(to right, rgba(191, 105, 157, 62%), #523b6a);
  color: white;
  font-size: 24px;
}


.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}



.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav{
  z-index: 9999;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.dropdown{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem 2rem;
  transform: translate(-30%, 20%);
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  

}
.login-bg{
  background-image: url("../assets/login/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.auth-input{
  border: solid black 1px;
  border-radius: 10px;
  padding: 15px;
  width: 300px;

}
.hidden-mobile{
  display: none;
}
.button{
  width: 300px;
}
.auth-bg{
  background-image: url("../assets/login/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1535px) and (min-width: 1280px) {
 
}

@media only screen and (max-width: 1279px) {
  .nav-link{
    margin: 0 10px;
  }
  
}
@media only screen and (max-width: 768px) {
  .hidden-mobile{
    display: inline-block;
  }
  .dropdown{
    transform: translate(-25%, 0%);
  
  }
  
  .dc1{
    position: absolute;
    left: 20%;
  }
  .dc2{
    position: absolute;
    left: 0%;
  }
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 4em;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      padding: 50px 0;
      font-size: 24px;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu{
    top: 3em;
  }

  .nav-menu.active {
      left: 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

}
@media only screen and (max-width: 500px) {
 .home{
  padding-top: 50px;
}
}