@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "NotoSans";
  src: url("./fonts/NotoSansJP-Light.otf");
  font-weight: light;
  font-style: normal;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NotoSans";
  font-style: normal;
}
.btn-primary {
  padding: 10px 20px;
  border: 0px solid transparent;
  background: linear-gradient(to right, rgba(191, 105, 157, 62%), #523b6a);
  color: white;
  font-size: 24px;
}
.dropbtn {
  min-width: 220px;
}
.dropdown-content {
  background: white;
  position: absolute;
  margin-top: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: 98;
  max-height: 0;
  min-width: 220px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  max-height: 500px;
  min-width: 220px;
  transition: max-height 0.25s ease-in;
}

.dropdown:hover .dropbtn {
  transition: max-height 0.25s ease-in;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}



.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav{
  z-index: 9999;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-link{
  margin: 0 10px;
}




@media only screen and (max-width: 1535px) and (min-width: 1280px) {
  .dc1{
    left: 10px;
  }
  .dc2{
    left: 120px;
  }
  .dropdown:hover .dropdown-content {
    min-width: 90px;
  }
  .dropdown-content {
    min-width: 90px;
  }.dropbtn {
    min-width: 90px;
  }
}

@media only screen and (max-width: 1279px) {
  .nav-link{
    margin: 0;
  }
  .dc1{
    position: absolute;
    left: 10px;
  }
  .dc2{
    position: absolute;
    left: 90px;
  }
  .dropdown:hover .dropdown-content {
    min-width: 90px;
  }
  .dropdown-content {
    min-width: 90px;
  }.dropbtn {
    min-width: 90px;
  }
}
@media only screen and (max-width: 768px) {
  .dc1{
    position: absolute;
    left: 20%;
  }
  .dc2{
    position: absolute;
    left: 0%;
  }
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 2em;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      padding: 50px 0;
      font-size: 36px;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .dropdown:hover .dropdown-content {
    min-width: 220px;
  }
  .dropdown-content {
    min-width: 220px;
  }.dropbtn {
    min-width: 220px;
  }


}
